---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import { authors } from "@data/authors";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Welcome to my world!</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-5xl mt-0.5">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group">
            <div class="w-full aspect-rectangle">
              <Image
                src={item.image}
                width={1270}
                height={979}
                alt="Team"
                class="w-full h-full object-cover rounded transition"
              />
            </div>

            {/* <div class="mt-4 text-center">
              <h3 class="text-sm text-midnight-300 dark:text-tahiti">
                {" "}
                {item.name}
              </h3>
            </div> */}
          </div>
        ))
      }
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg text-blue font-serif dark:text-blue">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special.
      </p>
      <!-- <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div> -->
    </div>
  </Container>
</Layout>
